/*************
RESETS
**************/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

video {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  margin: 0 auto;
}

/*************
FONTS
**************/

@font-face {
  font-family: "Pacifico";
  src: url("../assets/fonts/hinted-Pacifico-Regular.eot");
  src: url("../assets/fonts/hinted-Pacifico-Regular.woff2") format('woff2'),
  url("../assets/fonts/hinted-Pacifico-Regular.woff") format('woff'),
  url("../assets/fonts/hinted-Pacifico-Regular.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arimo";
  src: url("../assets/fonts/hinted-Arimo.eot")
  src: url("../assets/fonts/hinted-Arimo.woff2") format('woff2'),
  url("../assets/fonts/hinted-Arimo.woff") format('woff'),
  url("../assets/fonts/hinted-Arimo.tff") format('ttf');
  font-weight: normal;
  font-style: normal;
}

/*************
HEADER STYLING
**************/

.main-header {
  padding: 350px 0;
  padding-bottom: 350px;
  text-align: center;
  width: 100%;
}

.title {
  color: #fff;
  display: inline-block;
  font-family: "Pacifico", sans-serif;
  font-size: 9rem;
}

#header-bgvid {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/*************
SCHEDULE STYLING
**************/

.schedule {
  background: rgba(30,30,31,.44);
  display: inline-block;
  margin: 0;
  margin-top: 130px;
  text-align: center;
  width: 100%;
}

.no-shows {
  text-transform: uppercase;
  width: 100%;
}

.item {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 5px;
  text-align: center;
  width: 20vw;
}

.item p, h3 {
  color: #fff;
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
}

.item h3 {
  border-bottom: 1px solid #fff;
  font-size: 2.3rem;
  padding-bottom: 10px;
}

/*************
BIO STYLING
**************/

.name {
  font-weight: bold;
}

.bio {
  background: rgba(30,30,31,.44);
  display: inline-block;
  margin: 40px auto 0 auto;
  width: 100%;
}

.b-member {
  border-bottom: 1px solid #fff;
  display: table;
  margin: 25px auto;
  padding-bottom: 25px;
  width: 80vw;
}

.b-member:last-child {
  border: none;
}

.b-member h3 {
  display: none;
}

.b-member img {
  margin: 0 30px;
  width: 40vw;
}

.b-member p {
  display: table-cell;
  color: #fff;
  font-family: "Arimo", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  vertical-align: middle;
  width: 40vw;
}

/*************
FLOAT_FOOTER STYLING
**************/

.footer-menu {
  bottom: 0.5rem;
  height: 16rem;
  padding: 15px 5px;
  position: fixed;
  right: 0.5rem;
  text-align: center;
  width: 4.8rem;
}

.fb, .tw, .mail, .yt {
  width: 78%;
}
